*{
	font-family: 'Josefin Sans', sans-serif;
}

.menu{ /*para que el menu quede sobre la imagen de perfil*/
	position: absolute;
	top: 22px;
	left:18px;
	width: 92%;
	z-index: 10;
}

.menu button{ /*alinea el boton a la derecha*/
	margin-left: 60%;
}

.info-perfil{ /*alto de caja con info*/
	padding: 5px 30px;
}

.imagen-perfil{ /* para que la imagen se pege a los bordes*/
	padding: 0;
}

.imagen-perfil > img{ /*para que la imagen se ajuste al ancho de la caja que lo contiene*/
	width: 100%;
}
	
.glyphicon-home, .glyphicon-user, .glyphicon-music{ /*espacio de separacion de cada icono*/
	padding: 11px;
	margin-left: 20px;
	display: block;
}

.info{ /*separa los iconos del nombre y fecha*/
	padding-top: 11px;
	padding-left: 0;
}

.info p{ /*coloca p a la derecha de cada icono*/
	display: inline;
}

.fecha{ /*estilos para fecha de ingreso usuario*/
	background-color: #EAEAEA;
	color: grey;
	margin:3px;
	padding: 7px;
	margin-bottom: 20px;
	width: 100%;
	border:solid thin white;
	border-radius: 5px;
}

.glyphicon-option-vertical{ /* alinear icono menu*/
	padding-left: 12px;
	color: white;
	font-size: 20px;
}

h2{ /*nombre del usuario*/
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 5px;
}
