*{
	font-family: 'Josefin Sans', sans-serif;
}

.menu{ /*para que el menu quede sobre la imagen de perfil*/
	position: absolute;
	top: 22px;
	left:18px;
	width: 92%;
	z-index: 10;
}

.menu button{ /*alinea el boton a la derecha*/
	margin-left: 60%;
}

.info-perfil{ /*alto de caja con info*/
	padding: 5px 30px;
	height: 40vh;
}

.imagen-perfil{ /* para que la imagen se pege a los bordes*/
	padding: 0;
}

#profile > img{ /*para que la imagen se ajuste al ancho de la caja que lo contiene*/
	width: 90%;
}
	
.glyphicon{ /*espacio de separacion de cada icono*/
	padding: 11px;
}

.info{ /*separa los iconos del nombre y fecha*/
	padding-top: 11px;
	padding-left: 0;
}

.info p{ /*coloca p a la derecha de cada icono*/
	display: inline;
}

.puntos{
	color: white;
	font-size: 20px;
}

h3{ /*nombre del usuario*/
	margin-top: 0;
	padding-top: 10px;
}
